@import "tailwindcss";


@font-face {
	font-family: 'Roc Grotesk';
	font-display: auto;
	src: url('/fonts/400.otf') format('opentype');
}

@font-face {
	font-family: 'Roc Grotesk Bold';
	font-display: auto;
	src: url('/fonts/bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
	font-family: 'Roc Grotesk Wide';
	font-display: auto;
	src: url('/fonts/wide.otf') format('opentype');
}

:root {
  --font-roc-nomarl:'Roc Grotesk', sans-serif;
  --font-roc-bold:'Roc Grotesk Bold', sans-serif;
  --font-roc-wide:'Roc Grotesk Wide', sans-serif;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --ring: oklch(0.556 0 0);
  --border: oklch(1 0 0 / 10%);
  --card: oklch(0.205 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-normal: var(--font-roc-nomarl);
  --font-bold: var(--font-roc-bold);
  --font-wide: var(--font-roc-wide);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-card: var(--card);
}

@utility scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome and Safari */
  }
}

@layer base{
  * {
    @apply border-border outline-ring/50 cursor-none hover:cursor-none;
  }
  
  body {
    @apply bg-background text-foreground font-normal flex flex-col items-stretch **:cursor-none! **:[@media(hover:none)]:cursor-auto!;
  }
  
}